<div class="container-home">
  <h1>Hello! Welcome to the chat with your stupid coach.</h1>
  <h2>To receive a response, enter your message here:</h2>
  <%= link_to "Question section", ask_path, class: "custom-btn" %>
</div>
